# Created by https://www.gitignore.io/api/matlab
# Edit at https://www.gitignore.io/?templates=matlab

### MATLAB ###
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace

# End of https://www.gitignore.io/api/matlab
ex1/submit.m
ex1/token.mat
ex1/ex1_companion.mlx
ex1/ex1.mlx
ex1/lib/makeValidFieldName.m
ex1/lib/submitWithConfiguration.m
ex1/lib/jsonlab/AUTHORS.txt
ex1/lib/jsonlab/ChangeLog.txt
ex1/lib/jsonlab/jsonopt.m
ex1/lib/jsonlab/LICENSE_BSD.txt
ex1/lib/jsonlab/loadjson.m
ex1/lib/jsonlab/loadubjson.m
ex1/lib/jsonlab/mergestruct.m
ex1/lib/jsonlab/README.txt
ex1/lib/jsonlab/savejson.m
ex1/lib/jsonlab/saveubjson.m
ex1/lib/jsonlab/varargin2struct.m
ex2/submit.m
ex2/lib/makeValidFieldName.m
ex2/lib/submitWithConfiguration.m
ex2/lib/jsonlab/AUTHORS.txt
ex2/lib/jsonlab/ChangeLog.txt
ex2/lib/jsonlab/jsonopt.m
ex2/lib/jsonlab/LICENSE_BSD.txt
ex2/lib/jsonlab/loadjson.m
ex2/lib/jsonlab/loadubjson.m
ex2/lib/jsonlab/mergestruct.m
ex2/lib/jsonlab/README.txt
ex2/lib/jsonlab/savejson.m
ex2/lib/jsonlab/saveubjson.m
ex2/lib/jsonlab/varargin2struct.m
ex2/ex2_companion.mlx
ex2/ex2.mlx
ex3/ex3_companion.mlx
ex3/ex3.mlx
ex3/fmincg.m
ex3/submit.m
SVMs/ex6/lib/jsonlab/varargin2struct.m
SVMs/ex6/lib/jsonlab/saveubjson.m
SVMs/ex6/lib/jsonlab/savejson.m
SVMs/ex6/lib/jsonlab/README.txt
SVMs/ex6/lib/jsonlab/mergestruct.m
SVMs/ex6/lib/jsonlab/loadubjson.m
SVMs/ex6/lib/jsonlab/loadjson.m
SVMs/ex6/lib/jsonlab/LICENSE_BSD.txt
SVMs/ex6/lib/jsonlab/jsonopt.m
SVMs/ex6/lib/jsonlab/ChangeLog.txt
SVMs/ex6/lib/jsonlab/AUTHORS.txt
SVMs/ex6/lib/submitWithConfiguration.m
SVMs/ex6/lib/makeValidFieldName.m
